* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    position: relative;
    min-height: 80%;
    margin: 0;
}

main {
    margin-top: 120px;
    text-align: center;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #eee;
    font-size: 15px;
    bottom: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 30px;
    color: rgba(0,0,0,.54);
}

input[type='text']{
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    height: 32px;
    margin-left: 50px;
    position: relative;
    top: 5px;
}

input[type='submit'] {
    background-color: rgb(235, 233, 233);
    color: rgb(196, 194, 194);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 7px;
    font-size: 14px;
}

input[type='button'] {
    display: inline-block;
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

input[type='button']:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid #797979;
    color: #2e2e2e;
}

ul {
    display: block;
    margin-block-start: 1em;
    padding-inline-start: 40px;
    text-align: right;
}

li {
    display: list-item;
    text-align: left;
}

#navbar li{
    font-size: 13px;
    padding-right: 10px;
    display: inline;
}

#navbar li a {
    color: rgb(22, 22, 22);
    text-decoration: none
}

#navbar li a:hover {
    text-decoration: underline;
} 

#sign-in {
    background-color: #4080e7;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    margin-right: 1em;
}

#sign-in input {
    background-color: rgb(235, 233, 233);
    color: dimgray;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 8px;
    font-size: 14px;
}

#searchbar {
    border: 0.5px solid rgb(224, 224, 224);
    border-radius: 25px;
    width: 575px;
    height: 45px;
    display: inline-block;
    align-items: center;
    margin: 25px;
    box-shadow: 0 1px 4px 0 rgba(151, 150, 150, 0.521);
}

#logo {
    display: block;
}

#mic {
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 25px;
    float: right;
    margin-right: 15px;
}

#lupa {
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 25px;
    float: left;
    margin-left: 15px;
}

#gApps {
    height: 25px;
    width: 25px;
    margin-top: 25px;
}

#land {
    border: 1px solid lightgray;
    color: rgba(0,0,0,.54);
    text-align: left;
}

#footer-elements li {
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-right: 30px;
    color: rgba(0,0,0,.54);
    font-size: 13px;
    margin-top: 0;
    float: left;
    margin-left: -9px;
}

#footer-elements li a {
    text-decoration: none;
    color: #797979
}

#footer-elements li a:hover {
    text-decoration: underline;
}

#language {
    display: inline-block;
    line-height: 28px;
    text-align: center;
    margin-left: -27px;
}

#language p {
    font-size: small;
    text-decoration: none;
}

#language p a {
    text-decoration: none;
}